[user]
  name = Vladimír Zdražil
  email = mail@vzdrazil.com
[core]
  excludesfile = ~/.gitignore_global
  autocrlf = input
[credential]
  helper = osxkeychain
[commit]
  template = ~/.git_commit_msg.txt
  cleanup = strip
[merge]
  tool = kdiff3
[diff]
  tool = kdiff3
  conflictstyle = diff3
[mergetool]
  keepBackup = false
  prompt = false
[alias]
  co = checkout
  com = checkout master
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  ctags = !.git/hooks/ctags
[init]
  templatedir = ~/.git_template
[pull]
  rebase = false
[url "git@github.com:"]
 insteadOf = https://github.com/
[help]
	autocorrect = 1
[rerere]
	enabled = true
