[user]
	name = Vladimír Zdražil
	email = mail@vzdrazil.com
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
[credential]
	helper = osxkeychain
[commit]
	template = ~/.git_commit_msg.txt
	cleanup = strip
[merge]
	tool = kdiff3
[diff]
	tool = kdiff3
[mergetool]
    keepBackup = false
	prompt = false
