[submodule ".config/kitty/themes/base16"]
	path = .config/kitty/themes/base16
	url = git@github.com:kdrag0n/base16-kitty.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".zgen"]
	path = .zgen
	url = https://github.com/tarjoilija/zgen.git
[submodule ".config/kitty/themes/tempus-themes"]
	path = .config/kitty/themes/tempus-themes
	url = https://gitlab.com/protesilaos/tempus-themes.git
[submodule ".config/alacritty/base16-alacritty"]
	path = .config/alacritty/base16-alacritty
	url = git@github.com:aarowill/base16-alacritty.git
[submodule ".config/base16-shell"]
	path = .config/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
