" Vim sensible
set incsearch
" Use <C-L> to clear the highlighting of :set hlsearch.
nnoremap <silent> <C-L> :nohlsearch<CR>
endif


set laststatus=2
set ruler
set wildmenu

set scrolloff=1
set sidescrolloff=5
set display+=lastline
set encoding=utf-8
set listchars=tab:>\ ,trail:-,extends:>,precedes:<,nbsp:+
set formatoptions+=j " Delete comment character when joining commented lines


" Generics settings

set mouse=a
set wildignorecase
set hidden

set wildmenu
set wildmode=list:longest,list:full

" Highlight searches by default
set hlsearch
set ignorecase
set smartcase
" highlight matching [{()}]
set showmatch

set showcmd
set showmode
set number
" e.g. | page.html (~) - VIM | as a windows title
set title

set breakindent
let &showbreak = '> '
set linebreak

" set completeopt=longest,menuone

set cmdheight=2


set signcolumn=yes

silent !mkdir ~/.vim/undo > /dev/null 2>&1
silent !mkdir ~/.vim/backup > /dev/null 2>&1
silent !mkdir ~/.vim/swap > /dev/null 2>&1
set undodir=~/.vim/undo//
set backupdir=~/.vim/backup//
set directory=~/.vim/swap//

nnoremap <leader>* :Grepper -tool git -open -switch -cword -noprompt<cr>

let mapleader = " "
inoremap jj <Esc>

" fzf
map <leader>o <Action>(GotoFile)
map <leader>p <Action>(GotoAction)
map <leader>b <Action>(RecentFiles)
map <leader>f <Action>(FindInPath)

let g:slime_target = "tmux"

set highlightedyank
let g:highlightedyank_highlight_duration = 200

map <leader>d <Action>(GotoDeclaration)
map <leader>gd <Action>(GotoDeclaration)
map <leader>gy <Action>(GotoTypeDefinition)

map <leader>gi <Action>(GotoImplementation)
map <leader>gr <Action>(GotoDeclaration)

map <leader>gca <Action>(ShowIntentionActions)

map <leader>grn <Action>(RenameElement)
map <leader>ss <Action>(InsertLiveTemplate)

map <leader>gh <Action>(QuickJavaDoc)
map <leader>gcs <Action>(GotoSymbol)
map <leader>gco <Action>(FileStructurePopup)

map <leader>ev :vsplit ~/.ideavimrc<cr>
map <leader>sv :source ~/.ideavimrc<cr>

map ]c <Action>(GotoNextError)
map [c <Action>(GotoPreviousError)

set commentary
set surround
set easymotion
set argtextobj
nmap s <Plug>(easymotion-f2)
nmap S <Plug>(easymotion-F2)

nmap <leader>gs< <Action>(MoveElementLeft)
nmap <leader>gs> <Action>(MoveElementRight)

nmap <c-c><c-c> <Action>(Run)
nmap <c-c><c-d> <Action>(Debug)

xmap if <Plug>(coc-funcobj-i)
omap if <Plug>(coc-funcobj-i)
xmap af <Plug>(coc-funcobj-a)
omap af <Plug>(coc-funcobj-a)
xmap ic <Plug>(coc-classobj-i)
omap ic <Plug>(coc-classobj-i)
xmap ac <Plug>(coc-classobj-a)
omap ac <Plug>(coc-classobj-a)
