<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
	Make sure the "syncthing-inotify" executable is located at ~/bin/syncthing-inotify.
	Replace the string "USERNAME" in this file with your username, such as "jb".
	Copy this file to ~/Library/LaunchAgents/syncthing-inotify.plist.
	Execute "launchctl load ~/Library/LaunchAgents/syncthing-inotify.plist".
-->
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>net.syncthing.syncthing-inotify</string>

		<key>ProgramArguments</key>
		<array>
			<string>/Users/zdrazil/bin/syncthing-inotify</string>
		</array>

		<key>EnvironmentVariables</key>
		<dict>
			<key>HOME</key>
			<string>/Users/zdrazil</string>
		</dict>

		<key>KeepAlive</key>
		<true/>

		<key>LowPriorityIO</key>
		<true/>

		<key>ProcessType</key>
		<string>Background</string>

		<key>StandardOutPath</key>
		<string>/Users/zdrazil/Library/Logs/Syncthing-inotify.log</string>

		<key>StandardErrorPath</key>
		<string>/Users/zdrazil/Library/Logs/Syncthing-inotify-errors.log</string>
	</dict>
</plist>
